#pf
{
    height:400px;
    width:800px;
    border: 1px solid #DDD;
    margin:0px 0px;
    padding:10px;
    position:relative;
}

#ship
{
    height:16px;
    width:16px;
    background-color:Red;
}

#shipmover
{
    height:16px;
    width:16px;
    left:400px;
    position:absolute;
    bottom:32px;
}

.bullet
{
    height:10px;
    width:2px;
    background-color:Blue;
    position:absolute;
}
.shipBullet
{
    bottom:33px;
}

table.fleet
{
    position:absolute;
    display:block;
}

div.fleetRow
{
    margin:0px 0px 8px 0px;
}

.alien
{
    height:16px;
    width:16px;
    background-color:Orange;
    display:inline-block;
    margin: 0px 0px 0px 10px;
}
    
#score,
#lives,
#level
{
    font-size:30px;
    font-family:Consolas, fixedsys;
    margin-left:5px;
}

TD.scoring
{
    padding-right:10px;
    vertical-align:top;
    text-align:right;
    width:120px;
}

#message
{
    font-size:30px;
    font-family:Consolas, fixedsys;
    position:relative;
    width:400px;
    margin:120px auto 0px auto;
    text-align:center;
}